[submodule "DiscoverYourPowerLevel1"]
	path = DiscoverYourPowerLevel1
	url = https://github.com/Nimaoth/DiscoverYourPowerLevel.git
[submodule "AbsenceApp"]
	path = AbsenceApp
	url = https://github.com/LethaMasahiro/AbsenceApp.git
